<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/build" method="POST">
                    <label for="name">Name ( to  characters):</label>

                    <input type="text" id="name" name="name" required ="" ="" size="10">

                    <label for="name">age ( to  characters):</label>

                    <input type="text" id="name" name="age" required ="" ="" size="10">

                    <label for="name">experiance ( to  characters):</label>

                    <input type="text" id="name" name="experiance" required ="" ="" size="10">

                    <label for="name">riviews ( to  characters):</label>

                    <input type="text" id="name" name="reviews" required ="" ="" size="10">

                    <label for="name">rating ( to  characters):</label>

                    <input type="text" id="name" name="rating" required ="" ="" size="10">


                    <label for="name">bio ( to  characters):</label>

                    <input type="text" id="name" name="bio" required ="" ="" size="10">


                    <label for="name">subject ( to  characters):</label>

                    <input type="text" id="name" name="subject" required ="" ="" size="10">


                    <label for="name">location ( to  characters):</label>

                    <input type="text" id="name" name="location" required ="" ="" size="10">
                    <button type="submit">build</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>